.container {
  background: rgb(218, 148, 93);
  background: linear-gradient(180deg, rgba(218, 148, 93, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

form {
  display: flex;
  justify-content: space-between;
}

input {
  background-color: rgb(238, 110, 115, 0.35);
  color: white;
  border-style: none;
  border-radius: 0.2rem;
  margin-right: 2rem;
  padding: 0.5rem;
  font-size: 18px;
  text-align: left;
}

input:required {
  border-color: rgb(238, 110, 115);
}

::placeholder {
  color: white;
}

.login {
  color: white;
  background-color: rgb(238, 110, 115, 0.7);
  border-radius: 0.2rem;
  border-style: none;
  font-size: small;
  padding-top: 0.6rem;
  padding-left: 0.7rem;
  padding-bottom: 0.5rem;
  padding-right: 0.7rem;
  cursor: pointer;
}

a {
  display: flex;
  justify-content: center;
  color: #e9a104;
  font-size: large;
  margin-top: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 0.35rem;
  cursor: pointer;
}

.habit-form {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.row.habit {
  display: flex;
  flex: 1;
  overflow: auto;
  padding-top: 3rem;
}

#enter-habit {
  background-color: rgb(238, 110, 115, 0.3);
  border-style: none;
  border-radius: 0.2rem;
  margin-right: 2rem;
  padding: 0.5rem;
  font-size: 18px;
  text-align: left;
}

.submit,
.save {
  border-style: none;
  border-radius: 0.2rem;
  background-color: rgb(238, 110, 115, 0.5);
  color: white;
  padding: 0.672rem;
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left: 0;
  height: 100%;
  overflow: auto;
}

li {
  color: white;
  font-family: sans-serif;
  letter-spacing: 0.15rem;
  text-align: left;
}

.graph-container {
  width: 500px;
}

.row.input-field {
  flex: 0;
  padding-bottom: 5rem;
}

i {
  padding-left: 0.8rem;
  cursor: pointer;
}

#edit-habit {
  display: flex;
  justify-content: center;
  padding-top: 15rem;
}
