.container {
  background: rgb(218, 148, 93);
  background: linear-gradient(180deg, rgba(218, 148, 93, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

form {
  display: flex;
  justify-content: space-between;
}

input {
  background-color: rgb(238, 110, 115, 0.35);
  border-style: none;
  border-radius: 0.2rem;
  margin-right: 2rem;
  padding: 0.5rem;
  font-size: 18px;
  text-align: left;
}

input:required {
  border-color: rgb(238, 110, 115);
}

::placeholder {
  color: white;
}

.login {
  color: white;
  background-color: rgb(238, 110, 115, 0.7);
  border-radius: 0.2rem;
  border-style: none;
  font-size: small;
  padding-top: 0.6rem;
  padding-left: 0.7rem;
  padding-bottom: 0.5rem;
  padding-right: 0.7rem;
}

a {
  display: flex;
  justify-content: center;
  color: #e9a104;
  font-size: large;
  margin-top: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 0.35rem;
}
